.bgBlueBarber
{
    background-color: #b0b7c2; 
}
.bgRedNav{
    background-color: #e24c3b;
    color:rgb(243, 243, 242)

}
.bgBlueColumn{
    background-color: #0088e0;
    color:rgb(243, 243, 242)
}
.textColorWhite
{
    color:rgb(243, 243, 242)

}
.textColorFooter{
    background-color: #f6fdff;
    color: #0088e0;
}
.textColorRecommend{
    background-color: rgb(131, 130, 130);
    color:rgb(253, 253, 253);
    margin-top:auto;
}
img.resize
{
    width: 150px;
}
.textColorLogIn{
    background-color:rgb(78, 78, 78);
    color:azure;
}